@model IEnumerable<CrudHacienda.Models.UsuariosCLS>
    <br />
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoEmpleado)
        </th>
        <th>
            <span>Acciones</span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.IdUsuario
        </td>
        <td>
            @item.NombreUsuario
        </td>
        <td>
            @item.TipoUsuario
        </td>
        <td>
            @item.CodigoEmpleado
        </td>
        <td>
            @*Html.ActionLink(" ", "EditarUsuarios", "Usuarios", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-info btn-xs glyphicon glyphicon-edit" })*@
            @Html.ActionLink(" ", "EliminarUsuarios", "Usuarios", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger btn-xs glyphicon glyphicon-trash" })
            <button type="button" onclick="Editar(@item.IdUsuario)" class="btn btn-info btn-xs glyphicon glyphicon-edit" data-toggle="modal" data-target="#exampleModal"> </button>
        </td>
    </tr>
    }

</table>