@model IEnumerable<CrudHacienda.Models.UsuariosCLS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listaEmpleados = (List<SelectListItem>)ViewBag.ListaEmpleados;
    List<SelectListItem> listaTipoUsuarios = (List<SelectListItem>)ViewBag.ListaTipoUsuarios;
}

<h2>Usuarios del sitema</h2>
<hr />
<!-- Button trigger modal -->
<div class="row form-group">
    <div class="col-xs-8 col-lg-11">
        <button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Nuevo Usuario
        </button>
    </div>
    <div class="col-xs-4 col-lg-1">
        @Html.ActionLink(" ", "Index", "Home", null, new { @class = "btn  btn-warning btn-sm glyphicon glyphicon-home" })
    </div>
</div>
@using (Ajax.BeginForm("FiltroUsuarios", "Usuarios", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "DivUser",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmfiltro" }))
{
    <div class="form-group">
        <div class=" col-md-offset-8">
            @Html.TextBox("Usuario", null, new { @class = "form-control col-md-12", @placeholder = "Ingrese su busqueda aqui..." })
            @*Este Texbos es el que nos permite realizar las busquedas especificas de usuarios(Filtros)*@
        </div>
    </div>
    <br />
    <div class="form-horizontal">
        <div id="DivUser">
            @Html.Partial("_TableUsuarios", Model)
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Usuarios</h5>
            </div>
            @using (Ajax.BeginForm("AgregarUsuarios", "Usuarios", null, new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "error",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "AgregarUsuarios"
            }))
            {
                @Html.Hidden("Titulo")
                //Variable oculto
                <div class="modal-body">
                    <div>
                        @Html.Label("Nombre Usuario")
                        @Html.TextBox("NombreUsuario", null, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Contrasena")
                        @Html.Password("Contrasena", null, new { @class = "form-control" })
                    </div>

                    <div>
                        @Html.Label("Empleado")
                        @Html.DropDownList("TipoUsuario", listaTipoUsuarios, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Empleado")
                        @Html.DropDownList("CodigoEmpleado", listaEmpleados, new { @class = "form-control" })
                    </div>
                </div>
                <!--Modal footer-->
                <div class="modal-footer">
                    <button type="button" id="btnclose" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }
            <div id="error"></div><!--En este div saldran los errores que son atrapados en el try-->
        </div>
    </div>
</div>

<script>
    var Usuario = document.getElementById("Usuario");//Se obtienen los datos del Texbox Usuario
    Usuario.onkeyup = function () {
        $("#frmfiltro").trigger("submit");
    }/*Se refrescara el form cada vez que se presione
     una tecla en el texbox de busqueda*/

    function Limpiar() {
        document.getElementById("NombreUsuario").value = "";
        document.getElementById("Contrasena").value = "";
        document.getElementById("TipoUsuario").value = "";
        document.getElementById("CodigoEmpleado").value = "";
        document.getElementById("error").innerHTML = "";
        //Funcion liempieza de los registros anteriores en el Modal
    }

    function Agregar() {
        Limpiar();
        document.getElementById("Titulo").value = -1;
    }

    function Editar(IdUsuario) {
        Limpiar();
        $.get("Usuarios/RecuperarUsuarios/?idusuario=" + IdUsuario, function (data)
        {
            document.getElementById("NombreUsuario").value = data.NombreUsuario;
            document.getElementById("Contrasena").value = data.Contrasena;
            document.getElementById("TipoUsuario").value = data.TipoUsuario;
            document.getElementById("CodigoEmpleado").value = data.CodigoEmpleado;
        })

        document.getElementById("Titulo").value = IdUsuario;
    }

    function AgregarUsuarios(resultado) {
        if (resultado == "1") {
            $("#frmfiltro").trigger("submit");
            document.getElementById("btnclose").click();
            alert("Se agregaron los datos correctamente!");
        }

        else
        {
            alert("Ha ocurrido un error, verifique que los datos esten correctos...");
        }
    }
</script>


