@model List<CrudHacienda.Models.ProductosCLS>
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis Productos</h2>

@using (Ajax.BeginForm("Fproductos", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "DivPagina",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmsearch" }))
{
    <div class="row">
        <div class=" col-md-5 col-lg-5 form-group">
            <button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#ProductosModal">Nuevo Producto</button>
        </div>
        <div class="col-xs-8 col-md-5 col-lg-5 form-group">
            @Html.TextBox("Busqueda", null, new { @class = "form-control col-md-12", @placeholder = "Ingrese su busqueda aqui..." })
            @*Este Texbox es el que nos permite realizar las busquedas especificas de usuarios(Filtros)*@
        </div>
        <div class="col-xs-4 col-md-2 col-lg-2 form-group ">
            <div class=" col-xs-4 col-lg-4">
                @Html.ActionLink(" ", "Index", "Home", null, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-home" })
            </div>
            <div class="col-xs-4 col-lg-4">
                @Html.ActionLink(" ", "generarEXCEL", "Productos", null, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-save-file", @alt = "Reporte" })
            </div>
            <div class="col-xs-4 col-lg-4">
                @Html.ActionLink(" ", "imprimirPDF", "Productos", null, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-print", @alt = "Reporte" })
            </div>
        </div>
    </div>
    <!--==================-->
    <div class="form-horizontal">
        <div id="DivPagina" class="">
            @Html.Partial("_TablaProductos", Model)
        </div>
    </div>
}


<!--Modal Elimainar datos-->
<div class="modal fade" id="ModalELiminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Registro</h5>
            </div>
            <div class="modal-body">
                Seguro que desea eliminar el registro?
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarConf" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="EliminarRegistro()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Esta ventana nos abrra un formulario flotante para agregar -->
<div class="modal fade" id="ProductosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Productos</h5>
            </div>
            @using (Ajax.BeginForm("AgregarProductos", "Productos", null, new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "error",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "AgregarProductos"//La accion que va a ir la informacion que enviemos
            }))
            {
                @Html.Hidden("Titulo")
                //Variable oculto
                <div class="modal-body">

                    <div class="form-group">
                        @Html.TextBox("Producto", null, new { @class = "form-control", placeholder = "Nombre Producto" })
                    </div>
                    <div class="form-group">
                        @Html.TextBox("Descripcion", null, new { @class = "form-control", placeholder = "Descripcion" })
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="Estado" name="Estado">
                            <option value="">Estado (Seleccionar...)</option>
                            <option value=0>Inactivo</option>
                            <option value=1>Activo</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="date" id="FechaCreacion" name="FechaCreacion" class="form-control" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnclose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
            <div id="error"></div><!--En este div saldran los errores que son atrapados en el try-->
        </div>
    </div>
</div>
<!--End Modal-->

<script>
    function EliminarRegistro() {
        var findproducto = document.getElementById("Titulo").value;
        $.get("Productos/EliminarRegistro/?idproducto=" + findproducto, function (data) {
            if (data == 1) {
                alert("La accion se ejecuto correctamente...");
                $("#frmsearch").trigger("submit");
                document.getElementById("btnCerrarConf").click();
            }
            else
            {
                alert("Ocurrio un error al momnto de eliminar el registro");
            }
        })
    }
/*End eliminar registro*/
    var Buscar = document.getElementById("Busqueda");
    Buscar.onkeyup = function () {
        $("#frmsearch").trigger("submit");
     /*Asigna lo que se encentra en el TexBox Busqueda a la variable
     Buscar y refresca el formulario de manera asincrona*/
    }

    function Limpiar() {
        document.getElementById("error").innerHTML = "";
        var controles = document.getElementsByClassName("form-control");
        var control;
        for (var i = 0; i < controles.length; i++) {
            controles[i].value = "";//forma2
        }
    }

    function Agregar()
    {
        Limpiar();
        document.getElementById("Titulo").value = -1;
     /*Asigna el valor (-1) al texbox Titulo el cual lo envia al controlador*/
    }

    function LanzarModalEliminar(idproducto) {
        //Llama el modal que realizara la accin eliminar
        document.getElementById("Titulo").value = idproducto; 
    }

    function Editar(IdProducto) {
        Limpiar();
        $.get("Productos/RecuperarProductos/?IdProductos=" + IdProducto, function (data) {
            document.getElementById("Producto").value = data.Producto;
            document.getElementById("Descripcion").value = data.Descripcion;
            document.getElementById("Estado").value = data.Estado;
            document.getElementById("FechaCreacion").value = data.FechaCreacion;
        })
        document.getElementById("Titulo").value = IdProducto;
     /*Recupera los datos del registro especificado y los asigna a cada texbox, mediante
     la funcion (RecuperarProductos)*/
    }

    function AgregarProductos(res) {
/*Recibe un parametro respuesta desde el controlador y de acuerdo a su valor realiza las accines*/
        if (res >= "0") {
            $("#frmsearch").trigger("submit");
            document.getElementById("btnclose").click();
            alert("Se guardaron los datos correctamente");
         //Si >=0, realiza el almacenamiento de manera asincrona, cierra el formulario y envia un alert.
        }
        else {
            if (res == "-1")
            {
                alert("Ya existe un registro con este valor...");
            }
            //Si es diferente es un error por lo tanto envia un alert
            alert("Ha ocurrido un error, verifique que los datos esten correctos...");
        }
    }
</script>



