@model List<CrudHacienda.Models.ProductosCLS>
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis Productos</h2>

<!-- Button trigger modal -->
<div class="row form-group">
    <div class=" col-xs-8 col-lg-11 ">
        <button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Nuevo Producto</button>
    </div>
    <div class="col-xs-4 col-lg-1">
        @Html.ActionLink(" ", "Index", "Home", null, new { @class = "btn  btn-warning btn-sm glyphicon glyphicon-home" })
    </div>
</div>

<!---------------------===================================-------------------->
@using (Ajax.BeginForm("Fproductos", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "DivPagina",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmsearch" }))
{
    <div>
        <div class=" col-md-offset-8">
            @Html.TextBox("Busqueda", null, new { @class = "form-control col-md-12", @placeholder = "Ingrese su busqueda aqui..." })
            @*Este Texbos es el que nos permite realizar las busquedas especificas de usuarios(Filtros)*@
        </div>
    </div>
    <br />
    <div class="form-horizontal">
        <div id="DivPagina" class="">
            @Html.Partial("_TablaProductos", Model)
        </div>
    </div>
}

<!-- Modal: Esta ventana nos abrra un formulario flotante para agregar -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Nuevo Producto</h5>
            </div>
            @using (Ajax.BeginForm("AgregarProductos", "Productos", null, new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "error",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "AgregarProductos"//La accion que va a ir la informacion que enviemos
            }))
            {
                @Html.Hidden("Titulo")
                //Variable oculto
                <div class="modal-body">

                    <div class="form-group">
                        @Html.TextBox("Producto", null, new { @class = "form-control", placeholder = "Nombre Producto" })
                    </div>
                    <div class="form-group">
                        @Html.TextBox("Descripcion", null, new { @class = "form-control", placeholder = "Descripcion" })
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="Estado" name="Estado">
                            <option value="">Estado (Seleccionar...)</option>
                            <option value=0>Inactivo</option>
                            <option value=1>Activo</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="date" id="FechaCreacion" name="FechaCreacion" class="form-control" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnclose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
            <div id="error"></div><!--En este div saldran los errores que son atrapados en el try-->
        </div>
    </div>
</div>
<!--End Modal-->

<script>
    function BorrarProducto() {
        if (confirm("Realmente desea eliminar el producto?") == 1) {

            alert("Se elimino el producto satisfactoriamente.");
        }//Este script valida que realmente deseamos eliminar este registro
        else {
            event.preventDefault();
        }
    }

    var Busqueda = document.getElementById("Busqueda");
    Busqueda.onkeyup = function () {
        $("#frmsearch").trigger("submit");
    }

    function Limpiar() {
        document.getElementById("Producto").value = "";
        document.getElementById("Descripcion").value = "";
        document.getElementById("Estado").value = "";
        document.getElementById("FechaCreacion").value = "";
        document.getElementById("error").innerHTML = "";
        //Funcion liempieza de los registros anteriores en el Modal
    }

    //function Limpiar() {
    //    var controles = document.getElementsByClassName("form-control");
    //    var control;
    //    for (var i = 0; i < controles.length; i++) {
    //        control = controles[i];//forma1
    //        control.value = "";
    //        /*-----------------------------------------------*/
    //        controles[i].value = "";//forma2
    //    }
    //}

    function Agregar() {
        //From btn Agregar
        Limpiar();
        document.getElementById("Titulo").value = -1;
    }

    function Editar(IdProducto) {
        Limpiar();
        $.get("Productos/RecuperarProductos/?IdProductos=" + IdProducto, function (data) {
            document.getElementById("Producto").value = data.Producto;
            document.getElementById("Descripcion").value = data.Descripcion;
            document.getElementById("Estado").value = data.Estado;
            document.getElementById("FechaCreacion").value = data.FechaCreacion;
        })

        document.getElementById("Titulo").value = IdProducto;
    }

    function AgregarProductos(res) {
        if (res == "1") {
            $("#frmsearch").trigger("submit");
            document.getElementById("btnclose").click();
            alert("Se guardaron los datos correctamente");
        }
        else {
            alert("Ha ocurrido un error, verifique que los datos esten correctos...");
        }

    }
</script>



