@model IEnumerable<CrudHacienda.Models.ProduccionCLS>
@model IEnumerable<CrudHacienda.Models.DetalleProduccionCLS>
@{
    ViewBag.Title = "Produccion";

    List<SelectListItem> listaEmpleado = (List<SelectListItem>)ViewBag.FlistaEmpleado;
    List<SelectListItem> listaProducto = (List<SelectListItem>)ViewBag.listaProducto;
    List<SelectListItem> listaProveedor = (List<SelectListItem>)ViewBag.listaProveedor;
}


<h2 class="">Agregar Proveedores</h2>
<hr />

@using (Html.BeginForm("Produccion", "Produccion", FormMethod.Post, new { @id = "frmaddp" }))
{
    @Html.AntiForgeryToken()

<div class="">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.DropDownList("IdProducto", listaProducto, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <select class="form-control" id="TipoProveedor" name="TipoProveedor">
            <option value="">Medida liquida (Seleccionar...)</option>
            <option value="Litros">Litros</option>
            <option value="Botella">Botellas</option>
        </select>
    </div>

    <div class="form-group">
        <select class="form-control" id="Turno" name="Turno">
            <option value="">Turno (Seleccionar...)</option>
            <option value="Madrugada">Madrugada</option>
            <option value="Tarde">Tarde</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" id="EstadoFacturacion" name="EstadoFacturacion">
            <option value="">Estado Facturacion (Seleccionar...)</option>
            <option value="Credito">Credito</option>
            <option value="Efectivo">Efectivo</option>
        </select>
    </div>

    <div class="form-group">
        @Html.DropDownList("Proveedor", listaProveedor, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.DropDownList("Despachado", listaEmpleado, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Editor("FechaVenta", null, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
    </div>

    <div class="form-group">
        @Html.Editor("FechaVenta", null, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
    </div>

    <div class="form-group">
        @Html.Editor("FechaVenta", null, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
    </div>
</div>
}

<div class="row">
    <div class="col-lg-6 ">
        <input type="submit" value="Enviar" class="btn btn-info" />
    </div>
    <div class="col-lg-6 text-right">
        <!--Botones de accion terminados-->
        @Html.ActionLink(" ", "ListaProveedores", "Proveedores", null, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-circle-arrow-left" })
        @Html.ActionLink(" ", "Index", "Home", null, new { @class = "btn  btn-warning btn-sm glyphicon glyphicon-home" })
        @Html.ActionLink(" ", "AgregarProveedor", "Proveedores", null, new { @class = "btn  btn-warning btn-sm glyphicon glyphicon-refresh" })
    </div>
</div>

