@model CrudHacienda.Models.ProveedoresCLS

@{
    ViewBag.Title = "AgregarProveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="">Agregar Proveedores</h2>
<hr />

@using (Html.BeginForm("AgregarProveedor", "Proveedores", FormMethod.Post, new { @id = "frmaddp" }))
{
    @Html.AntiForgeryToken()

<div class="row">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group col-md-6">
        <select class="form-control" id="TipoProveedor" name="TipoProveedor">
            <option value="">Tipo Proveedor(Seleccionar...)</option>
            <option value="Entidad">Entidad</option>
            <option value="Persona">Persona</option>
        </select>
        @Html.ValidationMessageFor(model => model.TipoProveedor, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-3">
        <input type="text" class="form-control" id="NombreProveedor" name="NombreProveedor" placeholder="Nombre">
        @Html.ValidationMessageFor(model => model.NombreProveedor, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-3">
        <input type="text" class="form-control" id="SegundoNombre" name="SegundoNombre" placeholder="Segundo Nombre">
        @Html.ValidationMessageFor(model => model.SegundoNombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-6">
        <select class="form-control" id="TipoDocumento" name="TipoDocumento">
            <option value="">Tipo Documento(Seleccionar...)</option>
            <option value="Cedula">Cedula</option>
            <option value="RNC">RNC</option>
            <option value="Pasaporte">Pasaporte</option>
        </select>
        @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })
        @if (Model != null && Model.ProvErrors != null)
        {
            @Html.Label(Model.ProvErrors, new { @class = "text-danger" })

        }
    </div>

    <div class="form-group col-lg-6">
        <input type="text" class="form-control" id="NumDocumento" name="NumDocumento" placeholder="Numero de documento">
        @Html.ValidationMessageFor(model => model.NumDocumento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-lg-6">
        <input type="tel" class="form-control" id="Celular" name="Celular" placeholder="# Celular Ej. 1809110000">
        @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-lg-6">
        <input type="tel" class="form-control" id="Telefono" name="Telefono" placeholder="# Telefono Ej. 1809110000">
        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-lg-6">
        <input type="date" class="form-control" id="FechaCreacion" name="FechaCreacion" placeholder="Fecha">
        @Html.ValidationMessageFor(model => model.FechaCreacion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-lg-6">
        <input type="email" class="form-control" id="Email" name="Email" placeholder="Email Ej. alguien@ejemplo.com">
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-lg-12">
        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Direccion: Ej. No.Domicilio, Sector/Barrio, Municipio, Provincia/Ciudad, Pais." } })
        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-6">
        <select class="form-control" id="Estado" name="Estado">
            <option value="">Estado (Seleccionar...)</option>
            <option value=1>Activo</option>
            <option value=0>Inactivo</option>
        </select>
        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
    </div>
</div>

    <div class="row">
        <div class="col-lg-6 ">
            <input type="submit" value="Enviar" class="btn btn-info" />
        </div>
        <div class="col-lg-6 text-right">
            <!--Botones de accion terminados-->
            @Html.ActionLink(" ", "ListaProveedores", "Proveedores", null, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-circle-arrow-left" })
            @Html.ActionLink(" ", "Index", "Home", null, new { @class = "btn  btn-warning btn-sm glyphicon glyphicon-home" })
            @Html.ActionLink(" ", "AgregarProveedor", "Proveedores", null, new { @class = "btn  btn-warning btn-sm glyphicon glyphicon-refresh" })
        </div>
    </div>

    <script>
        var frmaddp = document.getElementById("frmaddp");
        frmaddp.onsubmit = function (e) {
            e.preventDefault();
            if (confirm("Seguro que deseas guardar los datos?") == 1) {
                frmaddp.submit();
            }
        }
    </script>

}
